*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Red Hat Text",sans-serif;
}

.bg{
    background-color: #0049B1;
}

.num{
    color: #FFFFFF;
}

.num:hover{
    color: #ee0000;    
}

.icon{
    color: #84afed;
    font-size: 14px;
    font-weight: 400;
}

.icon:hover{
    color: #ee0000;
}

.a-icon{
    color: #00c3ff;
}

.menu-option{
    color: black;
}

.menu-option:hover{
    color: #00c3ff;
}

.contact-btn{
    background-color: #1060e7;
    color: white;
    font-size: 16px;
    box-shadow: 12px 12px 20px 0px rgba(1, 96, 231, .3);
    border: none;
    font-weight: bolder;
    padding: 13px 30px;
    border-radius: 30px;
}

.contact-btn:hover{
    box-shadow: none;
    background-color: #1060e7;
    color: white;
}

.master-submenu{
    text-decoration: none;
    color: black;
}

@media(max-width:1200px){
    
    .hover-menu:hover{
        color: #FE4C1C;
    }
    .hover-menu{
        padding: 15px 0;
        border-bottom: 1px solid #E5E5E5; 
        transition: none;
     
    }
    .menu-active{
        color: #FE4C1C;
    }
}
@media(min-width:1200px){
    .hover-menu:hover{
        border-bottom: 3px solid #00c3ff;
    }
    .master-submenu:hover{
        list-style-type: circle;
        color: #00c3ff;
        transform: translate(3%,0);
        transition-duration: .3s;
    } 
}


.bg-img{
    background-image: url('bg-page-header.webp');
    padding: 150px 0;
}

.bg-card-color{
    background-image: linear-gradient(145deg,#0039e4 0%,#04dbf1 100%);
    padding: 60px;
    border-radius: 15px;
    /* margin-left:  45px; */
    box-shadow: 18px 18px 40px 0px rgba(2,156,236,.3);
    transition:.3s,border .3s,border-radius .3s,box-shadow .3s;
}

.mp{
    margin: 0 32px;
    padding: 0 15px;
}

.text-color{
    color: #61DAFF;
}

.form{
    padding: 15px;
    margin: 0 30px 0 30px;
}

.pe{
    padding: 9px 20px;
    border-radius: 20px;
    margin: 15px 0;
    border: 1px solid #69727d;
}

.button{
    color: #FFFFFF;
    padding: 9px 20px;
    border: none;
    border-radius: 20px;
    background-color: #FF3600;    
}

.what{
    position: fixed;
    font-size: 40px;
    bottom: 15px;
    right: 15px;
    background-color: #25d366;
    box-shadow: 0px 0px 11px rgba(0,0,0,.5);
    color: #FFFFFF;
    padding: 14px;
    border-radius: 50%;
}



.master-li{
    list-style-type: none;
}

.master-a{
    text-decoration: none;
    color: #FFFFFF;

}

.bg-footer{
      background-image:  linear-gradient(90deg, #002CAE 0%, #04A6E9 100%);   
}

.text-c{
    color: #9EE8FF;
}

.course-a{
    text-decoration: none;
    color: #FFFFFF;
}

.icon-1{
    padding: 9px;
    background-color: #FFFFFF;
    color: #2255EE;
    border-radius: 50%;
    font-size: 13px;
}

.icon-2{
    padding:9px;
    background-color: #FFFFFF;
    color: #FF970F;
    border-radius: 50%;
    font-size: 13px;
}

.icon-3{
    padding: 9px;
    background-color: #FFFFFF;
    color: #FF0000;
    border-radius: 50%;
    font-size: 13px;
}

.icon-4{
    padding: 9px;
    background-color: #FFFFFF;
    color: #3292FF;
    border-radius: 50%;
    font-size: 13px;
}

.icon-5{
    padding: 9px;
    background-color: #FFFFFF;
    color: #4CCEF9;
    border-radius: 50%;
    font-size: 13px;
}

.footer-hover:hover{
    text-decoration:underline;
}

.footer-icon-hover:hover{
     transform: translate(0,-5px);
    transition-duration: .2s;  
    transition-timing-function: all; 
}